<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Reach out to us at the
  <a href="http://railstutorial.org/help">Rails Tutorial help page</a>.
  To get help on this sample app, see the
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>